:root {
  --blue-color: #59BAF7;
  --red-color: #F95953;
  --black-color: #0b0b0b;
  --white-color-1: #fdfdfd;
  --white-color-2: #dbdbdb;
  --main-text: 'Roboto', sans-serif;
  --second-text: 'Nunito', sans-serif;
}
*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--white-color-2);
  font-family: var(--main-text);
  width: 100%;
  height: 100vh;


}

.body-index{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

.logo-img{
  display: flex;
  justify-content: center;
  margin: auto;
}
#logo{
  display: flex;
  width: 150px;
  height: 140px;
}
#title{
  color: var(--blue-color);
  font-size: 2em;
  font-family: var(--second-text);
  text-align: center;
  margin: 0;
}
#img-index{
  width: 350px;
  height: 300px;
}
.h2, .p{
  text-align: center;
  margin: 0 auto 15px auto;
}
a{
  max-width: 400px;
  background-color: var(--blue-color);
  text-decoration: none;
  color: var(--white-color-1);
  padding: 1em;
  width: 70%;
  margin: 10px auto;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
















































































/* ************  PAGE INSTALL-APP    ************** */

.container{
  width: 90%;
  margin: 0 auto;
  max-width: 1224px;
}

.main{
  text-align: center;
  font-family: var(--second-text);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue-color);
  margin: 0 auto;
}

.main__title{
  font-weight: bold;
  font-size: 3em;
}

.main__img{
  width: 100px;
}

h2{
  text-align: start;
}
/* ****ABOUT**** */

.about__cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.card{
  margin: 10px;
  background: var(--red-color);
  color: #eae8e8;
}
.card:nth-child(2){
  background: var(--blue-color);
}

.card:nth-child(3){
  background: rgb(101, 178, 101);
}

.about__title, .benefits__title{
  font-family: var(--second-text);
  font-weight: bold;
  font-size: 1.5em;
}

/* ****BENEFITS**** */
.benefits{
  margin-top: 50px;
}
.corousel-caption{
  background: rgba(0, 0, 0, 0.568);
}



/* ****DOWLOAD**** */
.dowload{
  margin: 50px 0;
}
.dowload__link{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  background: var(--blue-color);
  padding: 20px 10px;
  border-radius: 20px;
}

span.material-icons{
  font-size: 3em;

}

.dowload__link h4{
  margin: 0 0 0 20px;
}
/* *****FOOTER**** */
footer{
  background: var(--black-color);
  width: 100%;
  color: var(--white-color-2);
  text-align: center;
  padding: 20px;
}

footer p{
  margin: 0;
}
